:root
  //colors
  --c-primary: #f1f2f2
  --c-secondary: #fddc94
  --c-bg: #232323

  //box shadow
  --box-shadow-base: 2px 2px 4px rgba(0, 0, 0, 0.1)

  //dimensions
  --height-header: 6rem

  //spacing
  --spacing: 20px
  --spacing-double: calc(var(--spacing)*2)
  //z-index

  //border-radius

  //media queries
