head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  meta(name='description', content='')
  meta(name='', content='')
  title Aleksey Smoliar
  link(href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.6/jquery.fullPage.min.css', rel='stylesheet', type="text/css")
  link(href='css/main.css', rel='stylesheet', type="text/css")
