header.header
  +icon('burger')
  //- span.cross--top 
  //-   +icon('cross')
  //- span.cross--bottom.cross--right  
  //-   +icon('cross')
  //- span.cross--bottom.cross--left    
  //-   +icon('cross')    
