.main-menu
  span.close-icon
    +icon('close')
  ul.main-menu__inner
    li.main-menu__item
      a.main-menu__link(href="#about") About Me
    li.main-menu__item
      a.main-menu__link(href="#works") My works
    li.main-menu__item
      a.main-menu__link(href="#contact") Get in touch
  //- span.cross--top 
  //-   +icon('cross')
  //- span.cross--bottom.cross--right  
  //-   +icon('cross')
  //- span.cross--bottom.cross--left    
  //-   +icon('cross')
