ul#menu
  a.arrow-down(href="#")
    +icon('arrow_down')
  a.arrow-up(href="#")
    +icon('arrow_down')
  li.menu__item(data-menuanchor="first")
    a(href="#first") 01/04
  li.menu__item(data-menuanchor="about")  
    a(href="#about") 02/04 
  li.menu__item(data-menuanchor="works")  
    a(href="#works") 03/04
  li.menu__item(data-menuanchor="contact") 
    a(href="#contact") 04/04

  +icon('facebook')
  +icon('twitter')
