.footer
  position: absolute
  bottom: 24px
  left: 20px
  right: 20px
  text-align: center
  margin: 0 auto
  font-size: 12px
  display: flex
  justify-content: center


  @media(min-width: 768px)
    bottom: 38px
    text-align: left
    padding: 0 85px
    justify-content: space-between

.links
  display: inline-block

.links__item
  display: inline-block

.links__item + .links__item
  margin-left: 20px

.link--mail
  display: none

  @media(min-width: 768px)
    display: inline-block
